h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
}

p {
  font-family: 'Montserrat', sans-serif;
}

strong {
  font-weight: 700;
}

.title {
  width: 80%;
  margin: auto;
}

.box {
  border: 1px solid gray;
  width: 80%;
  padding: 10px;
  margin: 25px auto;
}
