/* Standard Text Elements */

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 24px;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 18px;
}

h3 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 16px;
}

h3.sans-serif {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

p, li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

p.serif {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 12px;
}

strong {
  font-weight: 700;
}

/* Div Classes */

.title {
  width: 80%;
  margin: auto;
}

.box {
  border: 1px solid gray;
  width: 80%;
  padding: 0px 10px;
  margin: 25px auto;
}

.row {
  width: 100%;
}

.col {
  width: 250px;
  margin: 0px 10px;
  display: inline-block;
}

.color-primary {
  background-color: #8b0000;
  padding: 10px;
}

.color-secondary {
  background-color: #00008b;
  padding: 10px;
}

.color-tertiary {
  background-color: #008b00;
  padding: 10px;
}

.color-primary p {
  color: white;
  margin: auto;
}

.color-secondary p {
  color: white;
  margin: auto;
}

.color-tertiary p {
  color: white;
  margin: auto;
}